.navbar {
  background-color: #0d6dce;
  padding: 1rem;
  height: 4rem;
}
.container-fluid {
  align-items: center;
  margin-left: 17rem;
}
.right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right-side a{
    color: black;
    text-decoration: none;
    margin-right: 1rem;
}

.icons .fa-solid{
     font-size: 30px;
  color: #333;
  transition: color 0.3s ease;
  cursor: pointer;
}
/* Divider line */
.divider {
  width: 1.5px;
  height: 30px;
  background-color: black;
  display: inline-block;
  align-self: center;
}

