.sidebar {
  width: 250px;
  height: 100vh;
  background: #1e3055;
  color: white;

  display: flex;
  flex-direction: column;

  position: fixed;
  left: 0;
  top: 0;

  box-sizing: border-box;
}

.brand {
  height: 80px;

  display: flex;
  align-items: center;

  gap: 12px;
  padding: 15px 20px;

  border-bottom: 1px solid #2a3444;
}

.brand img {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.brand h2 {
  margin: 0;
  font-size: 18px;
  color: #d4af37;
}

.brand span {
  font-size: 10px;
  color: #9ca3af;
}

.menu {
  flex: 1;
  padding: 20px 12px;
  overflow-y: auto; /*Ager future main menu items ziyada ho jayn to  Scrolling ajay */
}

.menu a {
  display: flex;
  align-items: center;

  gap: 12px;

  padding: 12px 14px;
  margin-bottom: 5px;

  color: #d1d5db;
  text-decoration: none;

  border-radius: 8px;

  font-size: 14px;

  transition: 0.2s;
}

.menu a:hover {
  background: #1f2937;
  color: #d4af37;
}

.menu a.active {
  background: #d4af37;
  color: #111827;
  font-weight: 600;
}

.logout {
  padding: 15px;
  border-top: 1px solid #2a3444;
}

.logout button {
  width: 100%;

  border: none;
  background: transparent;

  color: #d1d5db;

  padding: 12px;

  text-align: left;

  border-radius: 8px;

  cursor: pointer;

  font-size: 14px;
}

.logout button:hover {
  background: #1f2937;
  color: #ef4444;
}
